<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>


<% results.forEach(function(r) { %>
    <h1><%= r.xpos %> - <%= r.ypos %></h1>
<% }); %>


</div>

</body>
</html>
